<%= render 'pages/home' %>

<div id="tag_cloud">
  Sort by: <% tag_cloud Pin.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>

<div id="pins">
  <%= render @pins %>
</div>  

</br>

<%= will_paginate @pins, renderer: BootstrapPagination::Rails %>

<p style="text-align:left;"><a href="#">Back To The Top</a></p>
