<div id="tag_cloud">
  Sort by: 
  <% @tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag.name), class: "btn btn-primary" %>
  <% end %>
</div>

<div id="pins">
  <%= render @pins %>
</div>  

</br>
  
<%= will_paginate @pins, renderer: BootstrapPagination::Rails %>

<p style="text-align:left;"><a href="#">Back To The Top</a></p>
