<div class="panel panel-default form_page">
	<div class="panel-heading form_heading">
		<h1>New Review</h1>
	</div>
	<div class="panel-body">	
    <% if @image? %>
      <%= @image %>
    <% end %>  
		<%= render 'form' %>
	</div>	
	<div class="new_review_btn">
		<%= link_to 'Back', pins_path, class: "btn btn-danger" %>
	</div>	
</div>
