<div class="profilepic">
	<h1><%= link_to (image_tag @user.image(:small)), @user %>     <%= @user.name %> - Top Ten of 2009</h1>
</div>
<div id="pins">
  <%= render @pins.where(:year => '2009').order('rank DESC') %>
</div>
<%= will_paginate @pins %>