<div class="user_show">
	<div class="profilepic">
		<h1><%= link_to (image_tag @user.image(:small)), @user %>     <%= @user.name %> - Reviews of 2002</h1>
	</div>
	<div id="pins"> 
		<%= render @pins.where(:year => '2002').order('rank DESC') %>
	</div>
	<%= will_paginate @pins %>
</div>	