<% if user_signed_in? %>
	
	<h3 class="tens_link"><%= link_to 'Click here to see theTens of 2013!', tens2013_path %></h3>

<% else %>

	<div class="center hero-unit">
		<h1>Welcome to theTens!</h1>
		<p>
	 	 Where Your Opinion Matters
		</p>
		<p>
	  	<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>

	<h3 class="tens_link"><%= link_to 'Click here to see theTens of 2013!', tens2013_path %></h3>
<% end %>