<div id="about">
	<h1>All About The Tens</h1>
	<p>
		The Tens is a site where <strong>you</strong> express your musical opinions.
	</p>

	<p>
		Create an account:
	</p>

	<%= image_tag('addscreen.png')	%>

	</br>

	<p>
		Click "Add +" to post a review:
	</p>

	<%= image_tag('addreview.png')	%>

	</br>

	<p>
		Comment on other people's reviews, but be nice!

	</p>

	<%= image_tag('comment.png') %>

	</br>

	<p>
		Create an account and start to add some album reviews today!
	</p>
</div>