<h1>Check Out Who's Reviewing Albums on theTens...</h1>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= image_tag user.image(:small) %> <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>