<h1>Hi <%= @user.name %>, someone else commented on a review that you commented on!</h1>

<h2>Head on over to the comment board to check it out <%= link_to 'theComments', 'http://thetens.us/comments_board' %></h2>

<%= link_to 'theTens.us', 'http://thetens.us' %>