$navbarBackgroundHighlight: white;
$navbarBackground: white;
$btnPrimaryBackground: purple;

@import 'bootstrap';
body{
    padding-top: 60px;
}

@import 'bootstrap-responsive';


.navbar-inner{
    @include box-shadow(none !important);
    border: 1;
}

.footer{
    margin-top: 50px;
    color: $grayLight;
    a{
        color: $gray;
    }
}

.hero-unit {
    height: 400px;
    width: auto;
    padding-top: 10px;
    padding-left: 15px;
    background-image: url(ttable.jpg);
    background-repeat: no-repeat;
    color: $black;  
}
/* Required for jQuery Masonry */

.box {
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #444;
  width: 214px;
  background-color: #F5F5F5;
}

.box img {
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.boxshow img {
  margin-left: 130px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.description {
  margin: 10px 0 5px;
}

.profilepic img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.comments p {
  font-size: 5px;
}

.tens li {
  list-style-type: none;
  display: inline;
  padding: 5px;
  
}