$navbarBackgroundHighlight: white;
$navbarBackground: white;
$btnPrimaryBackground: purple;

@import 'bootstrap';
body{
    padding-top: 60px;
    background-color: white;
}

@import 'bootstrap-responsive';

.stars, .stars0
{
   background: transparent url("stars.png") no-repeat top left;
   width:100px;
   height:20px;
   float:left;
   display:block;
   margin: 0px;
}
.stars0 {background-position:-100px;}
.stars1 {background-position:-80px;}
.stars2 {background-position:-60px;}
.stars3 {background-position:-40px;}
.stars4 {background-position:-20px;}
.stars5 {background-position: 0px;}
.navbar-inner{
    @include box-shadow(none !important);
    border: 1;
    padding-top: 5px;
    font-size: 125%;
}

.navbar-search {
  padding-right: 5px;
}

.social_logo {
  padding-right: 5px;
  float: left;
}

.social_logo_foot {
  padding-right: 0px;
  padding-left: 5px;
  padding-bottom: 10px;

}

.twitter-share-button {
  padding-left: 5px;
  padding-top: 0px;
}

.twitter-share-button-foot {
  padding-left: 5px;
  padding-top: 15px;
  float: right;
  position: absolute;
}
.footer{
    margin-top: 50px;
    font-size: 150%;
    color: $grayLight;
    a{
        color: $gray;
    }

}

.hero-unit {
    height: 400px;
    width: auto;
    padding-top: 10px;
    padding-left: 15px;
    background-image: url(ttable.jpg);
    background-repeat: no-repeat;
    color: $black;  
}
/* Required for jQuery Masonry */

.box {
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #444;
  width: 214px;
  height: 420px;
  background-color: #F5F5F5;
}

.box img {
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.boxshow img {
  max-width: 80%;
  margin-left: 25%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.vid a {
  text-align: center;
}

.description {
  margin: 10px 0 5px;
}

.profilepic img {
  zoom: 150%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.smallpic {
  height: 35px;
  width: 35px;
  margin-top: -5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.smallpic_nav img {
  height: 30px;
  width: 30px;
  padding: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.smallpic_comment {
  height: 35px;
  width: 35px;
  padding: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.comments p {
  font-size: 5px;
}

.comments img {
  margin-left: 0%;
}
.comment_board img {
  height: 60px;
  width: 60px;
}
.comment_board td {
  max-width: 500px;
}

.dropdown-menu ul li {
  padding: 1px;
  width: 50px;
 }

.dropdown-menu li {
  text-align: center;
  padding: 5px;
}

.tens {
  margin-top: 15px;
}
.tens li {
  list-style-type: none;
  display: inline;
  padding: 5px 5px 5px 5px;
}

.tens h3 {
  float:left;
}
.users li {
  list-style-type: none;
  padding: 5px;
}

.users img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.dropdown a {
  display: inline-block;
  width: 110px;
  margin-left: 15px;
}

.statusshow h1 {
  margin-left: 5px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 125%;
}

table {
  text-align: center;
}
#status {
  width: 430px;
}

#ones td {
  text-align: center;
}

#about p {
  padding: 10px;
  font-size: 200%;
  font-weight: bold;
}
#timestamp {
  position: relative;
  float: right;
}